@import 'src/scss/base';
@import 'src/scss/button';
@import 'src/scss/color';
@import 'src/scss/mixin';
@import 'src/scss/root';
@import 'src/scss/variable';

.about-section {
    margin-bottom: 150px;
    overflow: hidden;
    padding: 0 80px;

    @include down-lg {
        padding: 0 30px;
    }

    @include down-md {
        margin-bottom: 100px;
        padding: 0 20px;
    }

    @include down-sm {
        margin-bottom: 50px;
        padding: 0 10px;
    }

    .about-banner {
        img {
            border-radius: 20px;
            width: 100%; // Ajusta el tamaño de la imagen para que sea responsiva
            max-width: 350px; // Tamaño máximo de la imagen
            height: auto; // Mantiene la proporción de la imagen
            display: block; // Hace que la imagen sea un bloque
            margin: 20px auto 0; // Centra la imagen y baja un poco
        }
    }

    .about-text {
        padding: 40px;
        text-align: left;

        h2 {
            margin: 0 0 25px;
            font-size: 40px;
            font-weight: 500;
            color: var(--px-black);
            line-height: 1.15;
        }

        h3 {
            margin-bottom: 80px;
            font-size: 25px;
            font-weight: 500;
            color: #4b4c53;
        }

        p {
            color: var(--px-black);
            font-size: 18px;
        }
    }

    // Mixins generales para todas las clases y componentes
    @include down-lg {
        .about-banner img {
            max-width: 300px;
        }

        .about-text {
            padding: 30px 0;

            h2 {
                font-size: 30px;
            }

            h3 {
                margin-bottom: 70px;
                font-size: 22px;
            }

            p {
                font-size: 16px;
            }
        }
    }

    @include down-md {
        .about-section {
            margin-bottom: 100px;
            padding: 0 20px;
        }

        .about-banner img {
            max-width: 200px;
        }

        .about-text {
            padding: 0 0 40px;
            text-align: center;

            h2 {
                font-size: 25px;
            }

            h3 {
                margin-bottom: 60px;
                font-size: 20px;
            }

            p {
                font-size: 16px;
            }
        }
    }

    @include down-sm {
        .about-section {
            margin-bottom: 50px;
            padding: 0 10px;
        }

        .about-banner img {
            max-width: 100px;
        }

        .about-text {
            padding: 0 0 20px;

            h2 {
                font-size: 20px;
            }

            h3 {
                margin-bottom: 40px;
                font-size: 18px;
            }

            p {
                font-size: 14px;
            }
        }
    }
}
