<div class="container about-section">
    <div class="row justify-content-between">
        <div class="col-lg-7 mb-4 mb-lg-0">
            <div class="about-text" data-aos="fade-up" data-aos-duration="800"> 
                <div class="icon">
                    <i class="bi bi-table"></i>
                </div>
                <h2>Sabes que un sitio web es importante...</h2>
                <h3>
                    Disfruto convirtiendo problemas complejos en diseños simples, funcionales e
                    intuitivos.
                </h3>
                <button class="px-btn black" (click)="scrollToElement('myservices')">
                    Servicios
                </button>
                <button class="px-btn gray" (click)="scrollToElement('mytestimonials')">
                    Testimonios
                </button>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="about-banner" data-aos="fade-up" data-aos-delay="200">
                <img src="assets/img/about-me-02.png" title="Ray Mondragón" alt="Ray Mondragón" />
            </div>
        </div>
    </div>
</div>