<div class="container about-section">
    <div class="row justify-content-between">
        <div class="col-lg-7">
            <div class="about-text">
                <h2>Hola, Soy Ray Mondragón, Soy un desarrollador web.</h2>
                <h3>
                    Disfruto convirtir problemas complejos en diseños simples, funcionales e
                    intuitivos.
                </h3>
                <div class="more">
                    <button class="theme-icon">
                        <i class="bi bi-arrow-right"></i>
                    </button>
                    <p>Más información sobre mí</p>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="about-banner">
                <img src="assets/img/about-me-02.png" title="Ray Mondragón" alt="Ray Mondragón" />
            </div>
        </div>
    </div>
</div>