<div id="mytestimonials" class="mytestimonials">
    <div class="title" data-aos="fade-up" data-aos-duration="1500">
        <h2>¿Qué dicen nuestros clientes?</h2>
    </div>
    <div class="row testimonials-boxes">
        <div class="col-lg-3 box" data-aos="flip-up" data-aos-duration="500">
            <div class="profile">
                <img src="assets/img/client1.jpg" alt="">
                <div class="profile-info">
                    <h3>Karla Ibañez</h3>
                    <h4>Fotógrafa Freelance</h4>
                </div>
            </div>
            <p>Ahora mis clientes pueden ver mi portafolio y contactarme fácilmente. El diseño es hermoso, rápido y totalmente adaptado a lo que pedí.</p>
        </div>
        <div class="col-lg-3 box" data-aos="flip-up" data-aos-duration="1500">
            <div class="profile">
                <img src="assets/img/client2.jpg" alt="">
                <div class="profile-info">
                    <h3>María Susvilla</h3>
                    <h4>Dueña de Tienda</h4>
                </div>
            </div>
            <p>Increíble experiencia trabajando con Ray. Mi página web quedó perfecta, fácil de navegar y con un diseño espectacular. Desde que lanzamos la nueva página, mis ventas han aumentado. Recomendado.</p>
        </div>
        <div class="col-lg-3 box" data-aos="flip-up" data-aos-duration="2000">
            <div class="profile">
                <img src="assets/img/client3.jpg" alt="">
                <div class="profile-info">
                    <h3>Diego Triana</h3>
                    <h4>Contador privado</h4>
                </div>
            </div>
            <p>Gracias a mi nuevo sitio web, ahora mis clientes pueden ver mi portafolio y agendar sesiones en línea sin complicaciones. El diseño refleja exactamente mi estilo y personalidad.</p>
        </div>
    </div>
</div>
