<div id="mytestimonials" class="mytestimonials">
    <div class="title" data-aos="fade-up" data-aos-duration="1500">
        <h2>¿Qué dicen nuestros clientes?</h2>
    </div>
    <div class="row testimonials-boxes">
        <div class="col-lg-3 box" data-aos="flip-up" data-aos-duration="500">
            <div class="profile">
                <img src="" alt="">
                <h3>Laura Fernández</h3>
                <h4>Fotógrafa Freelance</h4>
            </div>
            <p>Gracias a mi nueva página web, ahora mis clientes pueden ver mi portafolio y agendar sesiones en línea sin complicaciones. El diseño refleja exactamente mi estilo y personalidad.</p>
        </div>
        <div class="col-lg-3 box" data-aos="flip-up" data-aos-duration="1500">
            <div class="profile">
                <img src="" alt="">
                <h3>María Gutiérrez</h3>
                <h4>Dueña de Tienda Online</h4>
            </div>
            <p>Increíble experiencia trabajando con Ray. Mi página línea quedó perfecta, fácil de navegar y con un diseño espectacular. Desde que lanzamos la nueva web, mis ventas han aumentado. Recomendado.</p>
        </div>
        <div class="col-lg-3 box" data-aos="flip-up" data-aos-duration="2000">
            <div class="profile">
                <img src="" alt="">
                <h3>Carlos Ramírez</h3>
                <h4>Consultor de Negocios</h4>
            </div>
            <p>Gracias a mi nueva página web, ahora mis clientes pueden ver mi portafolio y agendar sesiones en línea sin complicaciones. El diseño refleja exactamente mi estilo y personalidad.</p>
        </div>
    </div>
</div>
