@import "src/scss/base";
@import "src/scss/button";
@import "src/scss/color";
@import "src/scss/mixin";
@import "src/scss/root";
@import "src/scss/variable";

.faq {
    margin-bottom: 200px;
    padding: 0 80px;

    @include down-xl {
        padding: 0 40px;
    }

    @include down-lg {
        padding: 0 20px;
    }

    @include down-md {
        padding: 0 10px;
    }

    @include down-sm {
        margin-bottom: 50px;
        padding: 0 5px;
    }

    .title {
        margin-bottom: 50px;

        h2 {
            text-align: center;
            color: var(--px-black);
            font-size: 50px;
            letter-spacing: 1.2px;
            font-weight: 700;

            @include down-xl {
                font-size: 35px;
            }

            @include down-lg {
                font-size: 30px;
            }

            @include down-md {
                font-size: 28px;
            }

            @include down-sm {
                font-size: 20px;
            }
        }
    }

    .accordion {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap: 1rem;

        @include down-sm {
            grid-template-columns: 1fr;
        }

        .accordion-item {
            background: var(--px-theme);
            height: 100px;
            border: none;
            border-radius: 10px;
            padding: 10px;
            cursor: pointer;
            transition: height 0.2s ease;

            &.expanded {
                height: 270px;
                background: #f4f0f1;
            }

            @include down-lg {
                height: 110px;

                &.expanded {
                    height: 280px;
                }
            }

            @include down-md {
                height: 100px;

                &.expanded {
                    height: 240px;
                }
            }

            @include down-sm {
                height: 100px;

                &.expanded {
                    height: 220px;
                }
            }

            .accordion-header {
                display: flex;
                justify-content: space-between;
                align-items: center; // Centrar en el eje Y
                font-weight: bold;
                padding: 20px; // Ajustar padding para centrar mejor el contenido verticalmente

                @include down-sm {
                    padding: 20px 15px;
                }

                .accordion-number {
                    color: #4c4c52;
                    font-size: 12px;
                    font-weight: 500;

                    @include down-sm {
                        font-size: 12px;
                    }
                }

                .accordion-title {
                    font-size: 18px;
                    text-align: center;
                    font-weight: 600;
                    flex-grow: 1;
                    margin-left: 20px;

                    @include down-sm {
                        font-size: 16px;
                    }
                }

                .accordion-icon {
                    font-size: 20px;
                    font-weight: 300;

                    @include down-sm {
                        font-size: 25px;
                    }
                }
            }

            .accordion-content {
                padding: 10px 40px 0 40px;
                font-size: 16px;
                font-weight: 400;
                color: #4c4c52;
                transition: padding 0.5s ease;

                &.expanded {
                    padding: 20px 40px;
                }

                @include down-md {
                    padding: 0px 40px 10px 40px;
                }

                @include down-sm {
                    padding: 0 15px 10px 15px;
                    font-size: 14px;
                }
            }
        }

        @include down-sm {
            padding: 0 10px;
        }
    }
}