<div class="container whyme">
    <div class="title">
        <h2>¿Por qué deberías elegirme?</h2>
    </div>
    <div class="row g-4 ">
        <div class="col-lg-4">
            <div class="card custom-card">
                <div class="card-body">
                    <div class="icon">
                        <i class="bi bi-heart-fill"></i>
                    </div>
                    <h2 class="card-title">Compromiso</h2>
                    <p class="card-text">Desde el primer contacto hasta la entrega final, mantenemos una comunicación clara y honesta.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card custom-card">
                <div class="card-body">
                    <div class="icon">
                        <i class="bi bi-cart-check-fill"></i>
                    </div>
                    <h2 class="card-title">Precio</h2>
                    <p class="card-text">Tarifas competitivas con la mejor relación calidad-precio, adaptadas a tus necesidades y presupuesto.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card custom-card">
                <div class="card-body">
                    <div class="icon">
                        <i class="bi bi-award-fill"></i>
                    </div>
                    <h2 class="card-title">Resultados</h2>
                    <p class="card-text">Nuestra principal prioridad es obtener resultados medibles y efectivos para garantizar resultados.</p>
                </div>
            </div>
        </div>
    </div>
</div>