<div id="bookacall" class="bookacall">
    <div class="row g-2">
        <div class="col-lg-6 title">
            <h2>¡Agenda una llamada gratis!</h2>
            <p>Rellene el formulario y le informaré de los pasos a seguir en 24 horas.</p>
        </div>
        <div class="col-lg-6">
            <div class="contact-form form">
                <form [formGroup]="formEmail" (ngSubmit)="mandarFormulario()">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-label"><span>* </span>Nombre</label>
                            <input formControlName="name" id="name" placeholder="John Summit" class="form-control" type="text">
                            <div *ngIf="formEmail.get('name')?.invalid && formEmail.get('name')?.touched" class="text-danger">
                                Nombre es requerido.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-label"><span>* </span>Correo</label>
                            <input formControlName="email" id="email" placeholder="john@gmail.com" class="form-control" type="email">
                            <div *ngIf="formEmail.get('email')?.invalid && formEmail.get('email')?.touched" class="text-danger">
                                Email válido es requerido.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-label"><span>* </span>¿Cómo nos ha encontrado?</label>
                            <select formControlName="findus" id="findus" class="form-control">
                                <option value="" disabled selected>Selecciona...</option>
                                <option value="google">Google</option>
                                <option value="instagram">Instagram</option>
                                <option value="facebook">Facebook</option>
                                <option value="friend">Friend</option>
                                <option value="other">Otro</option>
                            </select>
                            <div *ngIf="formEmail.get('findus')?.invalid && formEmail.get('findus')?.touched" class="text-danger">
                                Selecciona una opción.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-label">Su sitio web actual</label>
                            <input formControlName="actualWeb" id="actualWeb" placeholder="site.com" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-label"><span>* </span>Su presupuesto estimado</label>
                            <select formControlName="budget" id="budget" class="form-control">
                                <option value="" disabled selected>Selecciona...</option>
                                <option value="low">$5,000 - $10,000</option>
                                <option value="medium">$10,000 - $20,000</option>
                                <option value="high">$20,000+</option>
                            </select>
                            <div *ngIf="formEmail.get('budget')?.invalid && formEmail.get('budget')?.touched" class="text-danger">
                                Selecciona una opción.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-label"><span>* </span>Su objetivo para el sitio</label>
                            <textarea formControlName="goalWeb" id="goalWeb" placeholder="Cómo quieres que se vea el sitio / qué quieres obtener de el (leads, clientes, ventas, etc.) / qué funciones tendrá tu sitio..." rows="3" class="form-control"></textarea>
                            <div *ngIf="formEmail.get('goalWeb')?.invalid && formEmail.get('goalWeb')?.touched" class="text-danger">
                                Objetivo del sitio requerido.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-label">¿Hay algo más que deba saber?</label>
                            <textarea formControlName="anyelse" id="anyelse" placeholder="Escribe aquí..." class="form-control" type="text"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12 submit">
                        <div class="send">
                            <button class="px-btn dark px_modal w-100" type="submit" value="Send">Enviar</button>
                            <div *ngIf="EnviarCorreo" class="spinner-border spinner-border-sm ms-2" role="status">
                                <span class="sr-only"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
