<div id="bookacall" class="bookacall">
    <div class="row g-2">
        <div class="col-lg-6 title">
            <h2>¡Agenda una llamada gratis!</h2>
            <p>Rellene el formulario y le informaré de los pasos a seguir en 24 horas.</p>
        </div>
        <div class="col-lg-6">
            <div class="contact-form form" method="POST">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="form-label"><span>* </span>Nombre</label>
                        <input name="Name" id="name" placeholder="John Summit" class="form-control" type="text">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="form-label"><span>* </span>Correo</label>
                        <input name="Email" id="email" placeholder="john@gmail.com" class="form-control" type="email">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="form-label"><span>* </span>¿Cómo nos ha encontrado?</label>
                        <select name="FindUs" id="findus" class="form-control">
                            <option value="" disabled selected>Selecciona...</option>
                            <option value="google">Google</option>
                            <option value="instagram">Instagram</option>
                            <option value="instagram">Facebook</option>
                            <option value="friend">Friend</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="form-label">Su sitio web actual</label>
                        <input name="ExistWeb" id="existweb" placeholder="site.com" class="form-control" type="text">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="form-label"><span>* </span>Su presupuesto estimado</label>
                        <select name="FindUs" id="findus" class="form-control">
                            <option value="" disabled selected>Selecciona...</option>
                            <option value="low">$5,000 - $10,000</option>
                            <option value="medium">$10,000 - $20,000</option>
                            <option value="high">$20,000+</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="form-label"><span>* </span>Su objetivo para el sitio</label>
                        <textarea name="GoalWeb" id="goalweb" placeholder="Cómo quieres que se vea el sitio / qué quieres obtener de el (leads, clientes, ventas, etc.) / qué funciones tendrá tu sitio..." rows="3" class="form-control"></textarea>
                    </div>
                </div>
                <div class="col-md-12 submit">
                    <div class="send">
                        <button class="px-btn dark px_modal w-100" type="button" value="Send">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
