<div id="myservices" class="container myservices" data-aos="fade-up" data-aos-duration="1000">
    <div class="title">
        <h2>Servicios</h2>
    </div>
    <div class="row g-3 j justify-content-between">
        <div class="col-lg-8">
            <div class="box"> 
                <div class="icon">
                    <i class="bi bi-palette-fill"></i>
                </div>
                <h3>Diseño personalizado</h3>
                <p>Todos los sitios web que hacemos están diseñados a medida para solucionar específicamente su problema.</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="box">
                <div class="icon">
                    <i class="bi bi-phone-vibrate-fill"></i>
                </div>
                <h3>Responsivo</h3>
                <p>Adaptable a tamaños de pantalla y dispositivos móviles.</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="box">
                <div class="icon">
                    <i class="bi bi-calendar-day-fill"></i>
                </div>
                <h3>Sistema de reservaciones</h3>
                <p>Añadimos sistemas de reserva y recordatorios para reducir las ausencias.</p>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="box">
                <div class="icon">
                    <i class="bi bi-capslock-fill"></i>
                </div>
                <h3>Posicionamiento en Google</h3>
                <p>Optimizamos los enlaces de su sitio web para mejorar su posicionamiento en Google y aumentar su tráfico orgánico.</p>
            </div>
        </div>
    </div>
</div>
